In [40]:
import pandas as pd

In [45]:
q_df = pd.DataFrame([['male', 'teacher'], 
              ['male', 'engineer'],
              ['female', None],
              ['female', 'engineer']],columns=['Sex','Profession'])
q_df.fillna('others')

      Sex Profession
0    male    teacher
1    male   engineer
2  female     others
3  female   engineer

In [46]:
p_df = pd.get_dummies(q_df['Profession'])
q_df = pd.concat([q_df , p_df] , axis = 1)
q_df

      Sex Profession  engineer  teacher
0    male    teacher         0        1
1    male   engineer         1        0
2  female       None         0        0
3  female   engineer         1        0

In [ ]:
// 用一般性排序可以看到男性女性的職業分布，會比順序性更好